<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45934948539-82eegvm1kkfudqvs8hghgbsj00u9llp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45934948539-82eegvm1kkfudqvs8hghgbsj00u9llp0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>45934948539-5fq9j8968k9jd0fhoh9ega3h5lsujmtt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBy3ovGceGU-gVEC7mWJTsYT5xw1b4zupY</string>
	<key>GCM_SENDER_ID</key>
	<string>45934948539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullah.movieApp</string>
	<key>PROJECT_ID</key>
	<string>homeservice4-d79c9</string>
	<key>STORAGE_BUCKET</key>
	<string>homeservice4-d79c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45934948539:ios:7b6fa67613773953e8f99e</string>
</dict>
</plist>